.login-register-main-container {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-color: #004085;
    border: 1px solid;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    border-radius: 30px;
}

.login-page-gate-image {
    width: 100%;
    height: 255px;
}